@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<script>
    const backendUrl = @Json.Serialize(@Configuration.GetSection("Domain").GetSection("Backend").Value);
</script>

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> longvu@gmail.com</li>
                            <li>Miễn phí Ship cho đơn 500K</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img style="display: none;" src="img/language.png" alt="">
                            <div>Vietnamese</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">Vietnamese</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="./Home">Trang chủ</a></li>
                        <li><a href="./ShopCart">Cửa hàng</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">Danh sách sản phẩm</a></li>
                                <li><a href="./ShopCart">Giỏ Hàng</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span data-bind="text: $root.favorite().length"></span></a></li>
                        <li><a href="/ShopCart"><i class="fa fa-shopping-bag"></i> <span data-bind="text: $root.cart().length"></span></a></li>
                    </ul>
                    <div class="header__cart__price">Tổng tiền: <span data-bind="text: $root.totalCart()"></span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Sản phẩm</span>
                    </div>
                    <ul data-bind="foreach: $root.categoryList">
                        <li><a data-bind="text: name" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Danh mục
                                <span class="arrow_carrot-down"></span>
                                <div>
                                </div>
                            </div>
                            <input type="text" placeholder="Tên sản phẩm?">
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 336.716.284</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="https://belux.com.vn/wp-content/uploads/2022/04/2-1.jpg">
                    <div class="hero__text">
                        <span>OGANI SHOP</span>
                        <h2>Sang trọng<br />Đẳng cấp</h2>
                        <p>Đồ phong thủy mạ vàng</p>
                        <a href="#" class="primary-btn">Xem ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


<div id="shopping-cart">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="https://belux.com.vn/wp-content/uploads/2020/04/%E1%BA%A3nh-li%C3%AAn-h%E1%BB%87.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Giỏ hàng</h2>
                        <div class="breadcrumb__option">
                            <a href="./Home">Trang chủ</a>
                            <span>Giỏ hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad" id="ShopCart">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.cart">
                                <tr>
                                    <td class="shoping__cart__item" data-bind="foreach: productMedia">
                                        <img style="width: 20%;" data-bind="attr:{src: uri}">
                                        <h5>
                                            <a data-bind="attr: { href: '/chi-tiet/' + productId() +'-' + $root.slugifyLink(product.name())}" style="font-weight: 700; color: #000 !important;">
                                                <span data-bind="text: product.name"></span>
                                            </a>
                                        </h5>
                                    </td>
                                    <td class="shoping__cart__price" data-bind="foreach: productPrices">
                                        <p data-bind="text: $root.formatToVND(price)"></p>
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty" data-bind="click: $root.setchange">
                                                <input type="number" class="input-text qty text" step="1" min="1" max="1000" name="quantity" title="Qty" size="6" data-bind="attr: {id: 'spin_' + id(), value: Count()}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total" data-bind="text: $root.countPrice($data)">
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span data-bind="click: $root.removeCart" class="icon_close"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/Home" class="primary-btn cart-btn">TIẾP TỤC MUA HÀNG</a>
                        <a href="#ShopCart" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Mã giảm giá</h5>
                            <form action="#">
                                <input type="text" placeholder="Nhập mã giảm giá">
                                <button type="submit" class="site-btn">Áp dụng</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Hóa đơn</h5>
                        <ul>
                            <li>Giảm giá <span>0</span></li>
                            <li>Tổng tiền
                                <span data-bind="text: $root.totalCart()">$454.98</span>
                            </li>
                        </ul>
                        <a href="#" class="primary-btn">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
</div>
@section scripts
{
    <script src="./js/ShoppingCart/ShoppingCart.js"></script>
}

